.Weather {
  background-color: #282c34;
  height: 100%;
  display: flex;
  grid-gap: 45px;
  justify-content: center;
  flex-wrap: wrap;
  h1 {
    color: black;
  }
  .display-conditions {
    width: 250px;
    height: 350px;
    background-color: whitesmoke;
    opacity: .8;
    border-radius: 10px;
    display: grid;
    margin-top: 25px;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    .display-conditions-item {
      border-radius: 10px;
      align-self: stretch;
      margin: 0;
      padding: 10px 0;
      justify-self: stretch;
      color: white;
      background-color: #282c34;
      opacity: 0.7;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    .weather-condition-container {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-self: center;
      justify-self: stretch;
    }
    .img-fluid {
      grid-column: 1/-1;
      width: 50px;
      border-color: transparent;
    }
    @media all and (max-width: 320px) {
      .Weather {
        overflow: scroll;
      }
      .display-conditions {
        padding: 5px;
      }
    }
  }
}